<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.OrganizationMapper">
  <resultMap id="BaseResultMap" type="com.linzd.pc.entity.Organization">
    
    <!-- id -->
    <id column="id" jdbcType="BIGINT" property="id" />
    
    <!-- 名称 -->
    <result column="name" jdbcType="VARCHAR" property="name" />
    
    <!-- 父级id -->
    <result column="parentid" jdbcType="BIGINT" property="parentid" />
    
    <!-- 机构代码 -->
    <result column="code" jdbcType="VARCHAR" property="code" />
    
    <!-- 树级路径 -->
    <result column="isn" jdbcType="VARCHAR" property="isn" />
    
    <!-- 状态 -->
    <result column="status" jdbcType="VARCHAR" property="status" />
    
    <!-- 等级 -->
    <result column="rank" jdbcType="VARCHAR" property="rank" />
    
    <!-- 描述 -->
    <result column="description" jdbcType="VARCHAR" property="description" />
    
    <!-- 所属区域 -->
    <result column="areacode" jdbcType="VARCHAR" property="areacode" />
    
    <!-- 排序 -->
    <result column="seq" jdbcType="VARCHAR" property="seq" />
    
    <!-- 创建时间 -->
    <result column="createtime" jdbcType="TIMESTAMP" property="createtime" />
    
    <!-- 更新时间 -->
    <result column="updatetime" jdbcType="TIMESTAMP" property="updatetime" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    <!--
      WARNING - @mbg.generated
      This element is automatically generated by MyBatis Generator, do not modify.
    -->
    delete from organization
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert">
    <!--
      WARNING - @mbg.generated
      This element is automatically generated by MyBatis Generator, do not modify.
    -->
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into organization (`name`, parentid, code, 
      isn, `status`, `rank`, 
      description, areacode, seq, 
      createtime, updatetime)
    values (#{name,jdbcType=VARCHAR}, #{parentid,jdbcType=BIGINT}, #{code,jdbcType=VARCHAR}, 
      #{isn,jdbcType=VARCHAR}, #{status,jdbcType=VARCHAR}, #{rank,jdbcType=VARCHAR}, 
      #{description,jdbcType=VARCHAR}, #{areacode,jdbcType=VARCHAR}, #{seq,jdbcType=VARCHAR}, 
      #{createtime,jdbcType=TIMESTAMP}, #{updatetime,jdbcType=TIMESTAMP})
  </insert>
  <update id="updateByPrimaryKey">
    <!--
      WARNING - @mbg.generated
      This element is automatically generated by MyBatis Generator, do not modify.
    -->
    update organization
    set `name` = #{name,jdbcType=VARCHAR},
      parentid = #{parentid,jdbcType=BIGINT},
      code = #{code,jdbcType=VARCHAR},
      isn = #{isn,jdbcType=VARCHAR},
      `status` = #{status,jdbcType=VARCHAR},
      `rank` = #{rank,jdbcType=VARCHAR},
      description = #{description,jdbcType=VARCHAR},
      areacode = #{areacode,jdbcType=VARCHAR},
      seq = #{seq,jdbcType=VARCHAR},
      createtime = #{createtime,jdbcType=TIMESTAMP},
      updatetime = #{updatetime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    <!--
      WARNING - @mbg.generated
      This element is automatically generated by MyBatis Generator, do not modify.
    -->
    select id, `name`, parentid, code, isn, `status`, `rank`, description, areacode, 
    seq, createtime, updatetime
    from organization
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    <!--
      WARNING - @mbg.generated
      This element is automatically generated by MyBatis Generator, do not modify.
    -->
    select id, `name`, parentid, code, isn, `status`, `rank`, description, areacode, 
    seq, createtime, updatetime
    from organization
  </select>
  
  <!-- ### 以上代码由MBG + CommentPlugin自动生成, 生成时间: 2019-12-03 11:32:44 ### -->



  <!-- Your codes goes here!!! -->
  
</mapper>