<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.linzd.backsystem.core.user.mapper.ResourcesMapper">
    <!--获取资源根据用户id-->
    <select id="getResourcesByUserId"  resultType="java.util.Map">
        select distinct t.*,t.name as text,tt.btnname,tt.btncode
        from resources t
        left join role_resources t2 on t.id=t2.resid
        left join role_user t3 on t3.roleid=t2.roleid
        left join role t4 on t3.roleid=t4.id and t4.status=1
        left join (
            select t.pid,GROUP_CONCAT(t.name) btnname ,GROUP_CONCAT(t.premissions) btncode
            from resources t
            left join role_resources t2 on t.id = t2.resid
            left join role_user t3 on t3.roleid = t2.roleid
            left join role t4 on t3.roleid=t4.id
            where t.type=3 and t4.status=1 and  t3.userid = #{userId} group by t.pid
             ) tt on t.id=tt.pid
        where t3.userid=#{userId} and t4.status=1 and t.route is not null and t.type in (1,2)
        <if test="isn!=null and isn!=''">
            and t.isn like concat(#{isn},'%')
        </if>
        order by t.level,t.seq
    </select>

    <!--获取资源根据pid-->
    <select id="getResourcesByPid"  resultType="java.util.Map">
        select t.*,(select count(*) from resources where pid=t.id ) children_cnt,d.name type_text,
        t2.name pid_text
        from resources t
        left join dictionary d on t.type=d.value and d.dictkey='resources_type' and d.level=2
        left join resources t2 on t.pid=t2.id
        <where>
            <if test="pid!=null and pid!=''">
                 t.pid=#{pid}
            </if>
            <if test="name!=null">
                and t.name like concat('%',#{name},'%')
            </if>
            <if test="filter_id!=null">
                and t.id not in (#{filter_id})
            </if>
        </where>
        order by -t.seq desc
    </select>


    <!--删除当前id和下级-->
    <delete id="delResources" parameterType="Long" >
        delete from resources
        where  isn like (select * from( select concat(isn,'%') from resources where id =#{id} )a)
    </delete>

</mapper>
