<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.linzd.backsystem.core.user.mapper.RoleUserMapper">

    <!-- 开启二级缓存 -->
    <!--
        <cache type="org.mybatis.caches.ehcache.LoggingEhcache"/>
    -->
    <!--删除无效的关联数据-->
    <delete id="delRoleUserLink">
        delete
        from role_user
        where id in (select t.id
                     from (select id
                           from role_user
                           where userid not in (select id from user)
                              or roleid not in (select id from role)) t)
    </delete>
    <!--获取某个角色下的所以用户-->
    <select id="getUserListByRoleId" resultType="java.util.Map">
        select distinct u.id,u.loginname,u.name,u.tel,o.name orgname,
        (select GROUP_CONCAT(name) from dictionary where dictkey='user_tag' and u.tag like concat('%',value,'%') and level=2 ) tag_text
        from role_user ru
        left join user u on ru.userid = u.id
        left join organization o on u.orgid = o.id
        where u.id is not null and ru.roleid=#{roleid}
        <if test="name!=null">
            and u.name like concat('%',#{name},'%')
        </if>
        <if test="loginname!=null">
            and u.loginname like concat('%',#{loginname},'%')
        </if>
        <if test="tel!=null">
            and u.tel like concat('%',#{tel},'%')
        </if>
        <if test="keyWord!=null">
            and (u.name like concat('%',#{keyWord},'%') or u.loginname like
            concat('%',#{keyWord},'%') )
        </if>
        <if test="tag!=null and tag!='' ">
            and u.tag regexp replace(#{tag},',','|')
        </if>
        order by -u.seq desc
    </select>
    <!--获取用户列表分页-->
    <select id="getUserListByCondition" resultType="java.util.Map">
        select distinct u.id,u.loginname,u.name,u.tel,o.name orgname,
        (select GROUP_CONCAT(name) from dictionary where dictkey='user_tag' and u.tag like concat('%',value,'%') and level=2 ) tag_text
        from user u
        left join organization o on u.orgid = o.id
        <where>
            <if test="condition.roleid!=null">
                ru.roleid=#{roleid}
            </if>
            <if test="condition.name!=null">
                and u.name like concat('%',#{condition.name},'%')
            </if>
            <if test="condition.loginname!=null">
                and u.loginname like concat('%',#{condition.loginname},'%')
            </if>
            <if test="condition.keyWord!=null">
                and (u.name like concat('%',#{condition.keyWord},'%') or u.loginname like
                concat('%',#{condition.keyWord},'%') )
            </if>
            <if test="condition.tag!=null and condition.tag!='' ">
                and u.tag regexp replace(#{condition.tag},',','|')
            </if>
            <if test="condition.tel!=null">
                and u.tel like concat('%',#{condition.tel},'%')
            </if>
            <if test="condition.filter_userid!=null">
                u.id not in
                <foreach collection="condition.filter_userid" item="item" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
            <if test="condition.filter_roleid!=null">
                and u.id in ( select ru.userid from role_user ru where ru.roleid not in
                <foreach collection="condition.filter_roleid" item="item" open="(" separator="," close=")">
                    #{item}
                </foreach>
                )
            </if>
        </where>
        order by -u.seq desc
    </select>
    <!--获取某个用户下的所有角色-->
    <select id="getRoleListByUserId" resultType="java.util.Map">
        select distinct r.id,r.name,r.code,r.description,
        (select GROUP_CONCAT(name) from dictionary where dictkey='role_tag' and r.tag like concat('%',value,'%') and level=2 ) tag_text
        from role_user ru
        left join role r on ru.roleid = r.id
        where r.id is not null and ru.userid=#{userid}
        <if test="name!=null">
            and r.name like concat('%',#{name},'%')
        </if>
        <if test="code!=null">
            and r.code like concat('%',#{code},'%')
        </if>
        <if test="tag!=null and condition.tag!='' ">
            and r.tag regexp replace(#{condition.tag},',','|')
        </if>
        <if test="description!=null">
            and r.description like concat('%',#{description},'%')
        </if>
        order by -r.seq desc
    </select>
    <!--获取角色列表分页-->
    <select id="getRoleListByCondition" resultType="java.util.Map">
        select distinct r.id,r.name,r.code,r.description,
        (select GROUP_CONCAT(name) from dictionary where dictkey='role_tag' and r.tag like concat('%',value,'%') and level=2 ) tag_text
        from role r
        left join role_user ru on ru.roleid = r.id
        <where>
            <if test="condition.userid!=null">
                ru.userid=#{userid}
            </if>
            <if test="condition.name!=null">
                and r.name like concat('%',#{condition.name},'%')
            </if>
            <if test="condition.code!=null">
                and r.code like concat('%',#{condition.code},'%')
            </if>
            <if test="condition.tag!=null and condition.tag!='' ">
                and r.tag regexp replace(#{condition.tag},',','|')
            </if>
            <if test="condition.filter_roleid!=null">
                ru.roleid not in
                <foreach collection="condition.filter_roleid" item="item" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
            <if test="condition.filter_userid!=null">
                ru.userid not in
                <foreach collection="condition.filter_userid" item="item" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
        </where>
        order by -r.seq desc
    </select>

</mapper>
