<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.linzd.backsystem.core.user.mapper.RoleMapper">

    <!-- 开启二级缓存 -->
    <!--  <cache type="org.mybatis.caches.ehcache.LoggingEhcache"/>-->

    <!--查询角色列表-->
    <select id="getRoleList" resultType="java.util.Map">
        select t.*,d.name as status_text,
        (select GROUP_CONCAT(name) from dictionary where dictkey='role_tag' and t.tag like concat('%',value,'%') and level=2 ) tag_text
        from role t
        left join dictionary d on t.status=d.value and d.dictkey='able_disable'
        <where>
            <if test="condition.id!=null">
                t.id=#{condition.id}
            </if>
            <if test="condition.name!=null">
                and t.name like concat('%',#{condition.name},'%')
            </if>
            <if test="condition.code!=null">
                and t.code like concat('%',#{condition.code},'%')
            </if>
            <if test="condition.tag!=null and condition.tag!='' ">
                and t.tag regexp replace(#{condition.tag},',','|')
            </if>
        </where>
        order by -t.seq desc
    </select>

</mapper>
