<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.UserMapper">
  <resultMap id="BaseResultMap" type="com.linzd.mobile.entity.User">
    
    <!-- 主键 -->
    <id column="id" jdbcType="BIGINT" property="id" />
    
    <!-- 登录名 -->
    <result column="loginname" jdbcType="VARCHAR" property="loginname" />
    
    <!-- 用户名 -->
    <result column="name" jdbcType="VARCHAR" property="name" />
    
    <!-- 密码 -->
    <result column="password" jdbcType="VARCHAR" property="password" />
    
    <!-- 组织机构id (和组织机构相关联) -->
    <result column="orgid" jdbcType="BIGINT" property="orgid" />
    
    <!-- 岗位id -->
    <result column="jobid" jdbcType="BIGINT" property="jobid" />
    
    <!-- 身份证号码 -->
    <result column="idcard" jdbcType="VARCHAR" property="idcard" />
    
    <!-- 地址 -->
    <result column="address" jdbcType="VARCHAR" property="address" />
    
    <!-- 手机号 -->
    <result column="tel" jdbcType="VARCHAR" property="tel" />
    
    <!-- 1男2 女 -->
    <result column="sex" jdbcType="INTEGER" property="sex" />
    
    <!-- 邮箱地址 -->
    <result column="email" jdbcType="VARCHAR" property="email" />
    
    <!-- 备注 -->
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    
    <!-- 排序 -->
    <result column="seq" jdbcType="VARCHAR" property="seq" />
    
    <!-- 令牌 -->
    <result column="token" jdbcType="VARCHAR" property="token" />
    
    <!-- 创建时间 -->
    <result column="createtime" jdbcType="TIMESTAMP" property="createtime" />
    
    <!-- 更新时间 -->
    <result column="updatetime" jdbcType="TIMESTAMP" property="updatetime" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    <!--
      WARNING - @mbg.generated
      This element is automatically generated by MyBatis Generator, do not modify.
    -->
    delete from user
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert">
    <!--
      WARNING - @mbg.generated
      This element is automatically generated by MyBatis Generator, do not modify.
    -->
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into user (loginname, `name`, `password`, 
      orgid, jobid, idcard, 
      address, tel, sex, 
      email, remark, seq, 
      token, createtime, updatetime
      )
    values (#{loginname,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, 
      #{orgid,jdbcType=BIGINT}, #{jobid,jdbcType=BIGINT}, #{idcard,jdbcType=VARCHAR}, 
      #{address,jdbcType=VARCHAR}, #{tel,jdbcType=VARCHAR}, #{sex,jdbcType=INTEGER}, 
      #{email,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR}, #{seq,jdbcType=VARCHAR}, 
      #{token,jdbcType=VARCHAR}, #{createtime,jdbcType=TIMESTAMP}, #{updatetime,jdbcType=TIMESTAMP}
      )
  </insert>
  <update id="updateByPrimaryKey">
    <!--
      WARNING - @mbg.generated
      This element is automatically generated by MyBatis Generator, do not modify.
    -->
    update user
    set loginname = #{loginname,jdbcType=VARCHAR},
      `name` = #{name,jdbcType=VARCHAR},
      `password` = #{password,jdbcType=VARCHAR},
      orgid = #{orgid,jdbcType=BIGINT},
      jobid = #{jobid,jdbcType=BIGINT},
      idcard = #{idcard,jdbcType=VARCHAR},
      address = #{address,jdbcType=VARCHAR},
      tel = #{tel,jdbcType=VARCHAR},
      sex = #{sex,jdbcType=INTEGER},
      email = #{email,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR},
      seq = #{seq,jdbcType=VARCHAR},
      token = #{token,jdbcType=VARCHAR},
      createtime = #{createtime,jdbcType=TIMESTAMP},
      updatetime = #{updatetime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    <!--
      WARNING - @mbg.generated
      This element is automatically generated by MyBatis Generator, do not modify.
    -->
    select id, loginname, `name`, `password`, orgid, jobid, idcard, address, tel, sex, 
    email, remark, seq, token, createtime, updatetime
    from user
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    <!--
      WARNING - @mbg.generated
      This element is automatically generated by MyBatis Generator, do not modify.
    -->
    select id, loginname, `name`, `password`, orgid, jobid, idcard, address, tel, sex, 
    email, remark, seq, token, createtime, updatetime
    from user
  </select>
  
  <!-- ### 以上代码由MBG + CommentPlugin自动生成, 生成时间: 2020-01-14 20:23:56 ### -->



  <!-- Your codes goes here!!! -->
    <select id="login" parameterType="User" resultType="com.linzd.mobile.entity.User">
		select * from user where loginname=#{loginname} and password=#{password}
	</select>


    <insert id="save" parameterType="User">
	    insert into user(name,password,registerTime,updateTime) values(#{name},#{password},now(),null)
   </insert>

    <select id="findById" parameterType="User" resultType="User">
		select * from user where id=#{id}
	</select>


    <update id="update" parameterType="User">
        update user
        <set>
            <if test="name!=null">
                name=#{name},
            </if>
            <if test="password!=null">
                password=#{password},
            </if>
            updateTime=now()
        </set>
        <if test="id!=null">
            where id=#{id}
        </if>
    </update>

    <delete id="deleteById" parameterType="User"><!-- uid=1是用户这个角色不能删除 -->
  		delete from user where id=#{id} and id!=1
  	</delete>

    <select id="test" resultType="map">
        select * from user where id=2
    </select>

</mapper>